
<div class="files-page-content">

    <path-navigator [currentFolderItemPath]="currentFolderItemPath"
                    (pathItemClick)="pathItemClickedInNavigator($event)">

        <div class="path-navigator-buttons-wrapper">

            <button *ngIf="cutOrCopiedItemPathWithActionType != undefined"
                    (click)="cancelCutOrCopyFolderItem(true)"
                    mat-raised-button
                    color="accent">
                {{"Cancel"|translate}}
            </button>

            <button *ngIf="cutOrCopiedItemPathWithActionType != undefined &&
                       (cutOrCopiedItemParentPath != currentFolderItemPath ||
                       cutOrCopiedItemPathWithActionType[1] != FolderItemActionType.Cut)"
                    (click)="cutOrCopyFolderItem()"
                    mat-raised-button
                    color="primary">
                {{"Paste"|translate}}
            </button>

            <button (click)="showCreateFolderForm()" mat-raised-button class="create-folder-btn" color="primary">

                <mat-icon fontIcon="create_new_folder" class="create-folder-icon"></mat-icon>

            </button>

            <button (click)="showFilesUploadForm()" mat-raised-button class="upload-btn" color="primary">

                <mat-icon fontIcon="upload" class="upload-icon"></mat-icon>

            </button>
        </div>

    </path-navigator>

    <div class="folder-items-wrapper">

        <folder-item *ngFor="let folderItem of folderItems;"
                     [folderItem]="folderItem"
                     (folderItemClick)="folderItemClicked($event)"
                     (contextmenu)="onContextMenu($event, folderItem)">
        </folder-item>

    </div>

</div>

<context-menu [menuItemsWithIcons]="FilesComponent.actionNamesWithIcons"
              (menuItemClick)="onContextMenuItemClicked($event)">
</context-menu>
