
.files-page-content {
  position: relative;
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 10px;
  padding-top: 50px;
  box-sizing: border-box;
}

.path-navigator-buttons-wrapper {
  display: flex;
  align-items: center;
  float: right;
  width: fit-content;
  height: 23px;
  margin-right: -5px;
  margin-top: -30px;
}

  .path-navigator-buttons-wrapper button {
    margin-left: 10px;
  }

.upload-btn, .create-folder-btn {
  min-width: 40px !important;
  width: 40px !important;
}

.upload-icon {
  margin: 0 !important;
  font-size: 1.6rem !important;
  padding-right: 25px;
  padding-bottom: 26px;
}

.create-folder-icon {
  margin: 0 !important;
  font-size: 1.6rem !important;
  padding-right: 25px;
  padding-bottom: 26px;
}

.folder-items-wrapper {
  display: grid;
  justify-content: center;
  grid-template-columns: repeat(auto-fill, minmax(250px, 250px));
  gap: 20px;
}
