
<div class="files-page-content">

    <path-navigator [currentFolderItemPath]="currentFolderItemPath"
                    (pathItemClick)="pathItemClickedInNavigator($event)">


        <div class="cut-copy-buttons-wrapper">

            <button *ngIf="cutOrCopiedItemPathWithActionType != undefined"
                    (click)="cancelCutOrCopyFolderItem(true)"
                    mat-raised-button
                    color="accent">
                Cancel
            </button>

            <button *ngIf="cutOrCopiedItemPathWithActionType != undefined &&
                       (cutOrCopiedItemParentPath != currentFolderItemPath ||
                       cutOrCopiedItemPathWithActionType[1] != FolderItemActionType.Cut)"
                    (click)="cutOrCopyFolderItem()"
                    mat-raised-button
                    color="primary">
                Paste
            </button>
        </div>

    </path-navigator>

    <folder-item *ngFor="let folderItem of folderItems;"
                 [folderItem]="folderItem"
                 (folderItemClick)="folderItemClicked(folderItem.type, $event.path)"
                 (contextmenu)="onContextMenu($event, folderItem)">
    </folder-item>

</div>

<context-menu [menuItemsWithIcons]="FilesComponent.actionNamesWithIcons"
              (menuItemClick)="onContextMenuItemClicked($event)">
</context-menu>
