
<mat-card class="path-navigator-wrapper">

    <mat-card-content>

        <mat-icon (click)="returnBackIconClicked()" [ngClass]="returnBackIconClass" fontIcon="arrow_back" class="mr-2"></mat-icon>

        <span *ngFor="let pathItem of currentPathItems; let i = index;">

            <span (click)="pathItemClicked(i)" class="files-path-nav-item">
                {{pathItem}}
            </span>

            <span *ngIf="pathItemNeedsSlashToEnd(i)" class="nav-item-slash">
                /
            </span>

        </span>

    </mat-card-content>

</mat-card>


