.mat-mdc-dialog-container .mdc-dialog__surface {
  display: flex !important;
  box-shadow: none !important;
  background: transparent !important;
  width: 100% !important;
  height: 100% !important;
  border-radius: 10px !important;
}

.mdc-dialog__surface > :first-child {
  display: flex !important;
  width: 100% !important;
  height: 100% !important;
  justify-content: center !important;
  align-items: center !important;
}

.mat-dialog-content {
  border-radius: 10px !important;
  background-color: ghostwhite !important;
  padding: 20px !important;
}

form, video, audio {
  max-width: 90%;
  max-height: 90%;
}
