
.context-menu-renderer {
  visibility: hidden;
  position: fixed;
}

.context-menu-item {
  display: flex;
  justify-content: left;
  align-items: center;
  padding: 3px 8px;
}

  .context-menu-item:hover {
    cursor: pointer;
    background-color: aliceblue;
  }

.context-menu-item-icon {
  margin-right: 10px;
  width: 24px;
  height: 24px;
  color: cornflowerblue;
}
