<div class="about-wrapper vertically-scrollable-div">

    <h1>{{"FileManagementApplication"|translate}}</h1>
    <p>{{"AboutApp"|translate}}</p>

    <h2>{{"Features"|translate}}</h2>

    <h3>{{"Functionalities"|translate}}</h3>
    <ul>
        <li><strong>{{"Upload"|translate}}</strong>: {{"AboutUpload"|translate}}</li>
        <li><strong>{{"Download"|translate}}</strong>: {{"AboutDownload"|translate}}</li>
        <li><strong>{{"Preview"|translate}}</strong>: {{"AboutPreview"|translate}}</li>
        <li><strong>{{"CreateNewFolder"|translate}}</strong>: {{"AboutCreateFolder"|translate}}</li>
        <li><strong>{{"Cut"|translate}}</strong>: {{"AboutCut"|translate}}</li>
        <li><strong>{{"Copy"|translate}}</strong>: {{"AboutCopy"|translate}}</li>
        <li><strong>{{"Rename"|translate}}</strong>: {{"AboutRename"|translate}}</li>
        <li><strong>{{"Delete"|translate}}</strong>: {{"AboutDelete"|translate}}</li>
    </ul>

    <h3>{{"Localization"|translate}}</h3>
    <p>{{"AboutLocalization"|translate}}</p>

    <h3>{{"Authorization"|translate}}</h3>
    <p>{{"AboutAuthorization"|translate}}</p>

    <h3>{{"UsedTechnologies"|translate}}</h3>
    <p>{{"AboutTech"|translate}}</p>
    <ul>
        <li><strong>Angular</strong></li>
        <li><strong>Angular Material UI</strong></li>
        <li><strong>Typescript</strong></li>
        <li><strong>Javascript</strong></li>
        <li><strong>HTML</strong></li>
        <li><strong>CSS</strong></li>
        <li><strong>Bootstrap</strong></li>
        <li><strong>C#</strong></li>
        <li><strong>ASP.NET Web API</strong></li>
    </ul>

</div>
