
.path-navigator-wrapper {
  height: 55px;
  display: block;
  margin-top: -30px;
  margin-bottom: 18px;
  box-shadow: var(--box-shadow);
  color: darkcyan;
}

.path-items-wrapper {
  width: calc(100% - 100px);
  height: 35px;
  overflow-x: hidden;
  overflow-y: auto;
  line-height: 1.5;
  margin-top: -5px;
}

  .path-items-wrapper div {
    display: inline-block;
    margin: 0 2px;
  }

.files-path-nav-item {
  color: cornflowerblue;
  font-size: 19px !important;
}

  .files-path-nav-item:hover, .navBackIconEnabled:hover {
    color: blue !important;
    cursor: pointer;
  }

.navBackIconEnabled:hover {
  border: 1px solid blue;
}

.files-path-nav-item, .nav-item-slash {
  vertical-align: super;
  margin-top: -2px;
}

.nav-item-slash {
  font-size: 22px;
}

.navBackIconEnabled, .navBackIconDisabled {
  margin-right: 5px;
  border-radius: 50%;
}

.navBackIconEnabled {
  color: darkcyan;
  border: 1px solid darkcyan;
}

.navBackIconDisabled {
  color: lightgray;
  border: 1px solid lightgray;
}
