@if(authService.authUserSig().IsAuthenticated){
    <mat-toolbar>

        <mat-toolbar-row>

            <img src="assets/toolbarIcon.png" class="logo-img" />

            <span class="app-name-header">Files Manager</span>

            <ul class="m-5">

                <li>
                    <a routerLink="/" routerLinkActive="active" ariaCurrentWhenActive="page" [routerLinkActiveOptions]="{ exact: true }">
                        Home
                    </a>
                </li>

                <li>
                    <a routerLink="/files" routerLinkActive="active" ariaCurrentWhenActive="page">
                        Files
                    </a>
                </li>

                <li>
                    <a routerLink="/about" routerLinkActive="active" ariaCurrentWhenActive="page">
                        About
                    </a>
                </li>

            </ul>

            <span class="spacer"></span>

            <auth-user-section />

        </mat-toolbar-row>

    </mat-toolbar>

    <div class="content-wrapper">
        <router-outlet></router-outlet>
    </div>

}
@else{

  <router-outlet></router-outlet>

}


