:root {
  --text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.2);
  --box-shadow: 0 4px 17px rgba(0, 0, 0, 0.35);
}

:host {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
  font-size: 14px;
  color: #333;
  box-sizing: border-box;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 8px 0;
}

p {
  margin: 0;
}

body {
  font-family: Roboto, sans-serif;
  margin: 0;
  height: 100%;
  background-color: lightsteelblue;
}

.content-wrapper {
  position: relative;
  width: 100%;
  height: max-content;
}

ul {
  font-size: 14px;
  list-style-type: none;
  padding: 0;
  margin: 0;
  display: flex;
}

li {
  margin: 0 9px;
}

  li:hover {
    cursor: pointer;
    color: #d6002f;
  }

mat-toolbar {
  box-shadow: var(--box-shadow);
}

  mat-toolbar a {
    text-decoration: none;
    font-size: 18px !important;
    color: cornflowerblue;
    margin: 5px;
    text-shadow: var(--text-shadow);
  }

.active {
  color: rgb(85, 26, 139) !important;
}

#toobar-icon {
  width: 70px;
  height: 70px;
  margin-top: -7px;
}

#toolbar-header {
  margin: 0;
  margin-left: 20px;
  color: cornflowerblue;
  font-weight: 700;
  letter-spacing: 2px;
  text-transform: uppercase;
  text-shadow: var(--text-shadow);
  font-size: 1.5em;
}

.spacer {
  flex: 1 1 auto;
}

/*#region material dialog*/
.snackbar-success-bg * {
  border-radius: 5px;
  background-color: forestgreen !important;
  font-size: 18px !important;
}

.snackbar-error-bg * {
  border-radius: 5px;
  background-color: orangered !important;
  font-size: 18px !important;
}

.snackbar-info-bg * {
  border-radius: 5px;
  background-color: cornflowerblue !important;
  font-size: 18px !important;
}
/*#endregion */

/*#region material dialog*/
.mat-mdc-dialog-container .mdc-dialog__surface {
  display: flex !important;
  box-shadow: none !important;
  background: transparent !important;
  width: 100% !important;
  height: 100% !important;
  border-radius: 10px !important;
}

.mdc-dialog__surface > :first-child {
  display: flex !important;
  width: 100% !important;
  height: 100% !important;
  justify-content: center !important;
  align-items: center !important;
}

.mat-dialog-content {
  border-radius: 10px !important;
  background-color: ghostwhite !important;
  padding: 20px !important;
}

form, video, audio {
  max-width: 90%;
  max-height: 90%;
}
/*#endregion */


