
<div class="card" (click)="onFolderItemClicked()" (contextmenu)="onContextMenu($event)">

    <img [src]="iconPath" />

    <div class="folder-item-name">

        {{folderItem.name}}

    </div>

</div>

<div style="visibility: hidden; position: fixed"
     [style.left]="contextMenuPosition.x"
     [style.top]="contextMenuPosition.y"
     [matMenuTriggerFor]="contextMenu">
</div>

<mat-menu #contextMenu="matMenu">

    <ng-template matMenuContent>

        <div (mouseleave)="onMenuMouseLeave()">

            <div *ngFor="let actionTypeName of FolderItemComponent.folderItemActionTypes"
                 class="folder-context-menu-item">

                <mat-icon (click)="$event.stopPropagation(); onFolderItemActionIconClicked(actionTypeName)"
                          fontIcon="{{getActionIconImgPath(actionTypeName)}}"
                          class="folder-item-action-icon">
                </mat-icon>

                {{actionTypeName}}

            </div>

        </div>

    </ng-template>

</mat-menu>
