
<dialogs-base headerText="{{'Rename'|translate}}">

    <form [formGroup]="renameForm" (ngSubmit)="$event.preventDefault(); onFormSubmit()" class="mat-dialog-content">

        <mat-form-field>

            <mat-label>{{"CurrentName"|translate}}</mat-label>

            <input matInput disabled value="{{data.folderItemName}}">

        </mat-form-field>

        <mat-form-field>

            <mat-label>{{'NewName'|translate}}</mat-label>

            <input matInput spellcheck="false" placeholder="{{ 'EnterItem'|translate:{itemName:'NewName'|translate} }}" formControlName="newName">

        </mat-form-field>

        <small *ngIf="renameForm.get('newName')?.hasError('required')" class="text-danger">
            {{ 'IsRequired'|translate:{itemName:'NewName'|translate} }}
        </small>

        <small *ngIf="renameForm.get('newName')?.hasError('maxlength')" class="text-danger">
            {{ 'MaxLengthCharacters'|translate:{itemName:'NewName'|translate, maxLength: 64} }}
        </small>

        <div>

            <button type="button" mat-raised-button color="accent" mat-dialog-close>{{"Cancel"|translate}}</button>

            <button type="submit" mat-raised-button disabled="{{renameForm.invalid}}" color="primary">{{"Save"|translate}}</button>

        </div>

    </form>

</dialogs-base>
