
<kendo-appbar position="top">

    <kendo-appbar-section>
        <h1 class="title">Files Manager</h1>
    </kendo-appbar-section>

    <kendo-appbar-spacer width="32px"></kendo-appbar-spacer>

    <kendo-appbar-section>
        <ul>
            <li>
                <a routerLink="/" routerLinkActive="active" ariaCurrentWhenActive="page" [routerLinkActiveOptions]="{ exact: true }">
                    Home
                </a>
            </li>
            <li>
                <a routerLink="/files" routerLinkActive="active" ariaCurrentWhenActive="page">
                    Files
                </a>
            </li>
            <li>
                <a routerLink="/about" routerLinkActive="active" ariaCurrentWhenActive="page">
                    About
                </a>
            </li>
        </ul>
    </kendo-appbar-section>

</kendo-appbar>

<div class="content-wrapper">
    <router-outlet></router-outlet>
</div>
