
<div class="login-form-wrapper">

    <form [formGroup]="loginForm" (ngSubmit)="$event.preventDefault(); login()" autocomplete="off">

        <div class="login-head-section">

            <img src="assets/toolbarIcon.png" class="logo-img" />

            <span class="app-name-header">Files Manager</span>

        </div>

        <mat-form-field>

            <mat-label>Username</mat-label>

            <input matInput spellcheck="false" placeholder="Enter username" formControlName="username">

        </mat-form-field>

        <mat-form-field>

            <mat-label>Password</mat-label>

            <input type="password" name="password-psw" matInput spellcheck="false" placeholder="Enter password" formControlName="password" autocomplete="new-password">

        </mat-form-field>

        <button type="submit" mat-raised-button disabled="{{loginForm.invalid}}" color="primary">Login</button>

    </form>

</div>
