
<div class="login-form-wrapper">

    <form [formGroup]="loginForm" (ngSubmit)="$event.preventDefault(); login()" autocomplete="off">

        <div class="login-head-section">

            <img src="assets/toolbarIcon.png" class="logo-img" />

            <span class="app-name-header">Files Manager</span>

        </div>

        <mat-form-field>

            <mat-label>{{"Username"|translate}}</mat-label>

            <input matInput spellcheck="false" placeholder="{{ 'EnterItem'|translate:{itemName:'Username'|translate} }}" formControlName="username">

        </mat-form-field>

        <mat-form-field>

            <mat-label>{{"Password"|translate}}</mat-label>

            <input type="password" name="password-psw" matInput spellcheck="false" placeholder="{{ 'EnterItem'|translate:{itemName:'EnterPassword'|translate} }}" formControlName="password" autocomplete="new-password">

        </mat-form-field>

        <button type="submit" mat-raised-button disabled="{{loginForm.invalid}}" color="primary">{{"Login"|translate}}</button>

    </form>

</div>
